<header class="sidenav-content">
  <mat-toolbar style="height:25px;">
    <span class="span mat-small mat-caption">Free delivery on orders over 190€</span>
  </mat-toolbar>

  <mat-toolbar style="background-color:white;">

    <mat-toolbar-row>
      <span>WeDressGreen</span>
      <mat-divider class="vertical-divider"></mat-divider>
      <span>Re-sell</span>
      <mat-divider class="vertical-divider"></mat-divider>
      <span>Brands</span>

      <span class="example-spacer"></span>

      <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>

      <button (click)="drawer.toggle(); toggleTab(2)" mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      <button (click)="drawer.toggle(); toggleTab(3)" mat-icon-button>
        <mat-icon>shopping_basket</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row class="separator">
      <button color="primary" mat-button routerLink="/products">Clothing</button>
      <a href="https://www.google.com/" mat-button target="_blank">Accessories</a>
      <a href="https://www.google.com/" mat-button target="_blank">Coming soon</a>
      <span class="example-spacer"></span>
      <a href="https://www.google.com/" mat-button target="_blank">Campaign stories</a>
      <a href="https://www.google.com/" mat-button target="_blank">About us</a>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-divider></mat-divider>
</header>
