
  <footer  class="footer">
    <div class="footer-row">
      <div class="footer-col">
        <h4>NEWSLETTER</h4>
        <h5>Sign up to our newsletter for inspiration, more behind the scenes & exclusive updates.</h5>
        <h5>I have read and understood the Privacy Policy.</h5>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Enter your email">
        </mat-form-field>
        <br><br><br><br>
        <h5 color="grey">©2023 WeDressGreen, All Rights Reserved.</h5>
      </div>
      <div class="footer-col">
        <h4>WEDRESSGREEN</h4>
        <h5>About us</h5>
        <h5>Our brands</h5>
        <h5>Our values</h5>
        <a mat-button href="#">Privacy Policy</a>
      </div>
      <div class="footer-col">
        <h4>CUSTOMER SERVICE</h4>
        <h5>FAQ</h5>
        <h5>Contact us</h5>
        <h5>Deliveries</h5>
        <h5>Returns & Exchanges</h5>
        <a mat-button href="#">Terms of Service</a>
      </div>
      <div class="footer-col">
        <h4>SOCIALS</h4>
        <h5>Instagram</h5>
        <h5>Tiktok</h5>
        <h5>YouTube</h5>
        <a mat-button href="#">Contact Us</a>
      </div>
    </div>

  </footer>






