<mat-grid-list cols="3" rowHeight="2:3">
  <mat-grid-tile *ngFor="let i of [0, 1, 2, 3]">
    <mat-card  class="example-card">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Shirt fruit
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
