
<mat-grid-list cols="2" rowHeight="850">
  <mat-grid-tile>
    <mat-card class="example-card1">
      <img class="example-header-image" style="width: 100%; height: 80%;" mat-card-image src="../../../../assets/img.png"
           alt="Photo of a Shiba Inu">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-content  class="mat-body-2 card-grid-container">

        <p class="mat-display-1">HOW SELLING WORKS : </p>
        <br>

        <p>We wanted to create a place to pass on your pre-loved WedressGreen pieces, as part of our sustainability commitments. You can sell your items in just 3 easy steps.</p>
        <br>
        <p>STEP 1:</p>
        <br>


        <p>Identify your item from our catalog, and we’ll create your listing in just minutes. We’ll recommend a listing price based on your item’s condition and original value, but you can set your own price within a range. In general, items sell for about half of the original price.</p>
        <br>
        <p> STEP 2: </p>

        <p> When someone buys your item, you’ll receive an email with a pre-paid, pre-addressed shipping label. Choose a package that fits the size and shape of your item, while ensuring it’s well protected. Attach the label to your package and drop it in the mailbox or at the nearest US Post Office. Alternatively, you can schedule a free USPS package pickup.</p>



        <p>  Once the buyer receives and accepts the item, you get to choose your method of payout. </p>

        <p>  • Choose cash and receive 70%* of the resale price.</p>

        <p>  • Choose store credit and receive 100% of the sales you made to your next purchase at Djerf Avenue. You will receive an email with your voucher code for purchase on Djerfavenue.com</p>

        <mat-card-actions class="button-container">
          <button class="full-width-button" (click)="goToListItem()"  mat-button> List an item</button>
        </mat-card-actions>


      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>








