
container {
   position:absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
 }

.container .mat-drawer {
  padding-left:20px;
  min-width:200px;
  max-width: 550px;
}
.example-spacer {
  flex: 1 1 auto;
}
.centered-button {
  display: flex;
  justify-content: center;
}

.span {
  margin: auto;
}
.separator {
  position: relative;
  height: 50px;
}

.separator:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  transform: translateY(-50%);
}

.vertical-divider {
  height: 100%;
  margin: 0 12px;
  transform: rotate(90deg);
  border-color: black;
}


.space {
  margin-left: 270px;
}
.space1 {
  margin-left: 50px;
}

.example-card {
  max-width: 100%;
}

.center-content {
  margin-top: -10px;
  text-align: -webkit-center;
}
.center-content1 {
  text-align: -webkit-center;
}

.centered-card-text{
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  margin-top: 40px;
  width: 100%;
}
.mat-button{
  margin-top: 10px;
  width: 100%;
  color: white;
  height: 40px;
  background-color: #3F51B5;
}

.header-container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.mat-toolbar-row {
  padding: 8px 16px;
  box-sizing: border-box;
}

@media (max-width: 600px) {

  html{
    font-size:10px
  }
  .mat-toolbar-row {
    padding: 4px;
  }

  .vertical-divider {
    margin: 0 6px;
  }
}


