<mat-drawer-container autosize>
  <mat-drawer #drawer class="sidenav" position="end">
    <mat-toolbar-row style="height:94px;">
      <span class="example-spacer"></span>
      <button (click)="!drawer.toggle()" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-divider></mat-divider>
    <mat-tab-group #tabGroup class="center-content1" style="width:500px" animationDuration="0ms">
        <mat-tab *ngFor="let tab of tabs1" [label]="tab.label">
          <ng-template matTabContent>
            <mat-divider></mat-divider>
            <mat-card-header class="header-container">
              <mat-card-title>{{ tab.title }}</mat-card-title>
              <mat-card-subtitle>{{ tab.subtitle }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input [(ngModel)]="tab.email" matInput placeholder="Email" type="email">
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input [(ngModel)]="tab.password" matInput placeholder="Password" type="password">
                <mat-icon matSuffix>vpn_key</mat-icon>
              </mat-form-field>
              <mat-form-field *ngIf="tab.label === 'SIGN UP'" class="example-full-width">
                <mat-label>Confirm Password</mat-label>
                <input [(ngModel)]="tab.confirmPassword" matInput placeholder="Confirm Password" type="password">
                <mat-icon matSuffix>vpn_key</mat-icon>
              </mat-form-field>
            </mat-card-content>
            <mat-card-actions class="centered-button">
              <button (click)="tab.action()" color="primary" mat-button>{{ tab.buttonText }}</button>
            </mat-card-actions>
          </ng-template>
        </mat-tab>

        <mat-tab *ngFor="let tab of tabs" [label]="tab.label">
          <ng-template matTabContent>
            <mat-divider></mat-divider>
            <mat-card-content class="center-content">
              <h3 [innerHTML]="tab.content"></h3>
            </mat-card-content>
          </ng-template>
        </mat-tab>

      </mat-tab-group>
  </mat-drawer>


  <header class="sidenav-content">
    <mat-toolbar style="height:25px;">
      <span class="span mat-small mat-caption">Free delivery on orders over 190€</span>
    </mat-toolbar>
    <mat-toolbar style="background-color:white;">
      <mat-toolbar-row>
          <ng-container *ngFor="let menuItem of menuItems">
            <span class="clickable" [routerLink]="menuItem.routerLink">{{ menuItem.label }}</span>
            <mat-divider class="vertical-divider"></mat-divider>
          </ng-container>
          <span class="example-spacer"></span>
        <button *ngFor="let icon of icons; let i = index" (click)="drawer.toggle();toggleTab(i)" mat-icon-button>
          <mat-icon>{{icon.label}}</mat-icon>
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row class="separator">
        <button mat-button *ngFor="let link of links" [routerLink]="link.routerLink">{{ link.label }}</button>
        <span class="example-spacer"></span>
        <a href="" mat-button target="_blank">Campaign stories</a>
        <a href="" mat-button target="_blank">About us</a>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-divider></mat-divider>
  </header>
  <router-outlet></router-outlet>
  <mat-divider></mat-divider>
  <app-footer></app-footer>
</mat-drawer-container>



