<mat-grid-list cols="2" rowHeight="650">
  <mat-grid-tile>
    <mat-card class="example-card">
      <img class="example-header-image" style="width: 100%; height: 100%;" mat-card-image src="../../../../assets/img.png"
           alt="Photo of a Shiba Inu">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-content style="padding-top: 10px" class="mat-body-2 card-grid-container">

        <mat-icon class="small-icon " *ngFor="let i of [0, 1, 2, 3,4]">star</mat-icon>
        <u style="margin-left: 1%;">28 reviews</u>
        <p class="padding-bottom padding-top padding-right mat-headline-6">Go Slow Shirt fruit
          <button mat-icon-button>
            <mat-icon>favorite_border</mat-icon>
          </button>
        </p>
        <p class="padding-bottom">32.00 EUR</p>
        <p class="padding-bottom">Color : Blue</p>
        <p class="padding-bottom">Size : {{ selectedSize }}</p>
        <button *ngFor="let size of sizes" mat-button class="padding-right border-color"
                (click)="selectSize(size)">{{ size }}</button>
        <br>
        <mat-card-actions class="button-container">
          <button class="full-width-button" mat-button> + ADD TO CART</button>
        </mat-card-actions>


      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

