
<h2 style="margin: 20px;font-weight: 400 !important; margin-top: 2.5%" class="mat-headline-6"> Clothing</h2>
<h2 (click)="toggleRotation()" style="margin-left: 20px" [matMenuTriggerFor]="menu" #menuTrigger class="mat-subtitle-1">
  <mat-icon class="small-icon" >{{ isRotated ? 'close' : 'add' }}</mat-icon> Filter</h2>
<mat-menu class="filter-menu" #menu="matMenu">

</mat-menu>
<mat-grid-list cols="4" rowHeight="580">
    <mat-grid-tile class="clickable" *ngFor="let i of [0, 1, 2, 3,4,5,6,7]">

      <mat-card [routerLink]="['/front/products/info', i]" class="example-card">
        <img mat-card-image src="../../../../assets/products.png" alt="Photo of a Shiba Inu">
        <mat-card-content style="padding-top: 10px" class="mat-body-2">
          <p>Go Slow Shirt fruit</p>
          <p>32.00 EUR</p>
          <p>XXS XS S M L XL XXL 3XL</p>
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>


