
.mat-grid-tile {
  background: white;
}
.example-card {
  max-width: 450px;
  box-shadow: none !important;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.mat-card-actions{
  display:flex;
}

.mat-card-actions .flex-spacer{
  width:100%;
}

p{
  margin-bottom: 10px !important;
}


h3{
  margin-top: 30px;
}

.mat-headline-6 {
  font-weight: 200 !important; /* Adjust the font weight as desired */
}

